{% extends './base.html' %}     <!-- extends es como el import y sive para reutilizar 
                                codigo de otro archivo sin tener que volver a escribirlo -->

{% block title %} Index {% endblock %}

{% block body %}

<h1>welcome to home</h1>

<form action="/" method="POST">
    <input type="text" name="numero" placeholder="Carácteres">
    <input type="text" name="base_origen" placeholder="Base Origen">
    <input type="text" name="base_a_convertir" placeholder="Base a Convertir">
    <button type="submit">
        Enviar
    </button>
</form>

{% endblock %}